<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaosean.googlemaptest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.xiaosean.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:name=".GlobalVariable"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDH2_uKb0hQEtgNxkzwue5HA8ApC2cHoTo" />

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NTUST_MapActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout|screenSize"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xiaosean.googlemaptest.MainActivity" />
        </activity>
        <activity
            android:name=".SiteDetailActivity"
            android:parentActivityName=".NTUST_MapActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenLayout|screenSize"

            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xiaosean.googlemaptest.NTUST_MapActivity" />
        </activity>
    </application>

</manifest>